<form action="" method="POST">
    {%csrf_token%}
    <input type="text" name="police_name" placeholder="Full Name">
    <input type="email" name="police_email" placeholder="Email Address">
    <input type="phone" name="police_phno" placeholder="Phone Number">
    
    <select name="police_city">
        <option value="volvo">Chennai</option>
        <option value="saab">Tricy</option>
        <option value="mercedes">Coimbatore</option>
        <option value="audi">Madurai</option>
    </select>
  
    <input type="text" name="police_locality" placeholder="Locality">
    <input type="text" name="police_post" placeholder="Pincode">
    <input type="password" name="password1" placeholder="Password">
    <input type="password" name="password2" placeholder="Confirm Password">
    <input type="submit">
</form>

